:root {
    /* Mentioned */
    --mentioned-color: 250, 166, 26;
    --mentioned-pseudo: rgba(var(--mentioned-color));
    --background-mentioned: rgba(var(--mentioned-color), 0.05);
    --background-mentioned-hover: rgba(var(--mentioned-color), 0.08);

    /* Replying */
    --replying-color: 114, 137, 218;
    --replying-pseudo: rgba(var(--replying-color));
    --background-replying: rgba(var(--replying-color), 0.05);
    --background-replying-hover: rgba(var(--replying-color), 0.08);
}

#app-mount .message-2qnXI6 {
    &.mentioned-xhSam7,
    &.replying-1x3H0T {
        background: transparent;
    
        &::before {
            content: none;
        }

        .messageContent-2qWWxC {
            border-left: solid 3px;
            border-radius: 2px;
            padding-left: 4px;
            margin-left: -7px;
        }
    }

    &.mentioned-xhSam7 {
        .messageContent-2qWWxC {
            background-color: var(--background-mentioned);
            border-color: var(--mentioned-pseudo);
        }

        &.selected-2P5D_Z .messageContent-2qWWxC,
        .messageContent-2qWWxC:hover {
            background-color: var(--background-mentioned-hover);
        }
    }

    &.replying-1x3H0T {
        .messageContent-2qWWxC {
            background-color: var(--background-replying);
            border-color: var(--replying-pseudo);
        }

        &.selected-2P5D_Z .messageContent-2qWWxC,
        .messageContent-2qWWxC:hover {
            background-color: var(--background-replying-hover);
        }
    }
}
