.titleBar-AC4pGV {
    height: 31px;
    margin-top: 0;

    .wordmark-2iDDfm {
        top: 3px;
    }

    .winButton-iRh8-Z {
        transition: 150ms ease;
        height: 30px;
        width: 45px;
        top: 0;
    }
    
    .winButtonClose-1HsbF-:hover {
        background-color: #E81123;
    }
}