.titleBar-AC4pGV {
    height: 31px;
    margin-top: 0;
}
.titleBar-AC4pGV .wordmark-2iDDfm {
    top: 3px;
}
.titleBar-AC4pGV .winButton-iRh8-Z {
    transition: 150ms ease;
    height: 30px;
    width: 45px;
    top: 0;
}
.titleBar-AC4pGV .winButtonClose-1HsbF-:hover {
    background-color: #e81123;
}
